
body {
    width: 90vw;
    margin: 2.5vh auto;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, .desc {
    text-align: center;
}

h1 {
    font-size: 4vmax;
}

h2 {
    font-size: 3vmax;
}

.desc {
    font-size: 2.5vmax;
}

div {
    font-size: 2vmax;
}

.ex {
    background: #000000;
    color: #ffffff;
    padding: 2px ;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}