
body {
    width: 90vw;
    margin: 2.5vh auto;
    font-family: 'Courier New', Courier, monospace;
}

h1, h2, .desc {
    text-align: center;
}

.desc {
    font-size: 18px;
}

.ex {
    background: #000000;
    color: #ffffff;
    padding: 2px ;
}

.none {
    display: none;
}

.block {
    display: block;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}